<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9fba89">  <td>18/04/30 16:27:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="mailchimpScenario.exitBrowser()[pri:3, instance:mailchimpPackage.mailchimpScenario@1d057a39]">exitBrowser</td> 
  <td>main@1887813102</td>   <td></td> </tr>
<tr bgcolor="9fba89">  <td>18/04/30 16:27:47</td>   <td>-564</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="mailchimpScenario.getTeamMembers()[pri:2, instance:mailchimpPackage.mailchimpScenario@1d057a39]">getTeamMembers</td> 
  <td>main@1887813102</td>   <td></td> </tr>
<tr bgcolor="9fba89">  <td>18/04/30 16:27:39</td>   <td>-8005</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="mailchimpScenario.navigateToAboutPage()[pri:1, instance:mailchimpPackage.mailchimpScenario@1d057a39]">navigateToAboutPage</td> 
  <td>main@1887813102</td>   <td></td> </tr>
</table>
